# Node.js dependencies
/node_modules/

# Vite build output
/dist

# Env files
.env*
!.env.example

# VScode settings
.vscode/

# Mac system files
.DS_Store

# Firebase cache
.firebase/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
firebase-debug.log*
